* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --primary: #8B4513;
    --primary-dark: #6B3410;
    --primary-transparent: rgba(139, 69, 19, 0.607);
    --secondary: #D4A373;
    --accent: #C19A6B;
    --text-dark: #2C1810;
    --text-light: #5C4033;
    --bg-cream: #FAF6F1;
    --white: #FFFFFF;
    --logo: #e27100;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Images/contact-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border: 2px solid rgba(12, 12, 12, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 10px var(--shadow);
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
    font-family: 'Georgia', serif;
}

.title-center {
    margin: 0 auto;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-dark);
    text-decoration: none;
    font-family: 'Georgia', serif;
    transition: color 0.4s ease-in-out;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(12, 12, 12, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--white);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 15px;
    color: var(--white);
    padding: 0 0 0 10px;
}

.input-box input::placeholder {
    color: var(--white);
}

.wrapper .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input {
    accent-color: var(--bg-cream);
    margin-right: 3px;
}

.remember-forget a {
    color: var(--bg-cream);
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: var(--white);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: var(--text-dark);
    font-weight: 600;
}

.btn:hover {
    background-color: var(--primary-transparent);
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: var(--bg-cream);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}